/* Similarities between pages (Destination, Crew, Technology) */

.page-header {
  font-family: $ff-barlow-condensed;
  text-transform: uppercase;
  h5 {
    font-size: 1.4rem;
    color: $white;
    font-weight: 100;
  }
  span {
    opacity: 0.5;
    padding-right: 0.8rem;
    font-weight: 900;
  }
}

.page-info {
  font-family: $ff-belle;
  h2 {
    text-transform: uppercase;
  }
  & > p {
    font-family: $ff-barlow;
    font-size: 1.4rem;
    line-height: 1.7;
    width: 90%;
    max-width: 38rem;
    margin: 0 auto;
  }
}

.subheading-bc-b {
  font-family: $ff-barlow-condensed;
  color: $light-blue;
  text-transform: uppercase;
  font-weight: 100;
}

.subheading-b-w {
  font-family: $ff-belle;
  color: $white;
  text-transform: uppercase;
  font-weight: 100;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;

  .page-header {
    @include flex-center;
    height: 10%;
  }
  main {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  figure,
  picture {
    width: 100%;

    img:not(#tech-pic) {
      width: 50%;
      height: 100%;
      object-fit: contain;
    }
    #tech-pic {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  section {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  ul {
    margin: 0 auto;
    height: 10%;
    align-self: flex-start;
    display: flex;
  }
  .page-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media (min-width: 768px) {
  .page {
    .page-header {
      height: 15%;
      justify-content: flex-start;
      padding-left: 2rem;
    }
    .page-info > p {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 1440px) {
  .page {
    align-items: center;
    justify-content: center;
    .page-header {
      width: 100%;
      height: 20%;
      padding-left: 8%;
      align-items: center;
      padding-top: 1rem;
      h5,
      h5 > span {
        font-size: 1.6rem;
      }
    }
    main {
      height: 60%;
      width: 100%;
      flex-direction: row;
      figure,
      picture {
        width: 50%;
        height: 100%;
        max-height: 40rem;
        img:not(#tech-pic) {
          width: 70%;
          height: 100%;
        }
      }
      section {
        width: 50%;
        height: 100%;
        text-align: left;
        align-items: flex-start;
        padding: 0;
        margin: 0;
        .page-info {
          align-items: flex-start;
          h2 {
            font-size: 3rem;
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }
}

@import "./partials/destination", "./partials/crew", "./partials/technology";

/* Handle background image changes */

.destination-page {
  background: url("../../assets/destination/background-destination-mobile.jpg")
    no-repeat center;
  background-size: cover;
}
.crew-page {
  background: url("../../assets/crew/background-crew-mobile.jpg") no-repeat
    center;
  background-size: cover;
}
.technology-page {
  background: url("../../assets/technology/background-technology-mobile.jpg")
    no-repeat center;
  background-size: cover;
}

@media (min-width: 768px) {
  .destination-page {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
    width: 100vw;
    height: 100vh;
  }
  .crew-page {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
  }
  .technology-page {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }
}

@media (min-width: 1440px) {
  .destination-page {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
  }
  .crew-page {
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
  }
  .technology-page {
    background-image: url("../../assets/technology/background-technology-desktop.jpg");
  }
}
