@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

$ff-belle: "Bellefair", serif;
$ff-barlow: "Barlow Condensed", sans-serif;

$dark-blue: #0b0d17;
$light-blue: #d0d6f9;
$white: #fff;
