@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@300;400&family=Bellefair&display=swap");

$ff-belle: "Bellefair", serif;
$ff-barlow-condensed: "Barlow Condensed", sans-serif;
$ff-barlow: "Barlow", sans-serif;
$dark-blue: #0b0d17;
$light-blue: #d0d6f9;
$white: #fff;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin glass-effect {
  background-color: rgba($color: #aaa, $alpha: 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
