@import "./config";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}
body {
  width: 100%;
  height: 100%;
  background-color: $dark-blue;
  color: $white;
}
#root,
.App {
  width: 100%;
  height: 100%;
}

/* TYPOGRAPHY */
/* Headings */
h1,
h2,
h3,
h4 {
  font-family: $ff-belle;
  font-weight: 500;
}

h1 {
  font-size: 8rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.4rem;
  font-family: $ff-barlow-condensed;
  letter-spacing: 3px;
  color: $light-blue;
}
/* Sub-headings */
.subheading-lg {
  font-family: $ff-belle;
  font-family: 2.8rem;
}
.subheading-sm {
  font-family: $ff-barlow-condensed;
  letter-spacing: 2.35px;
  font-size: 1.4rem;
}
.navigation {
  font-family: $ff-barlow-condensed;
  font-size: 1.6rem;
  letter-spacing: 2.7px;
}
p {
  font-family: $ff-barlow;
  font-size: 1.4rem;
  font-weight: 100;
  color: $light-blue;
}

ul {
  list-style: none;

  li {
    cursor: pointer;
  }
}

@import "./components/navigation/navigation";

/* Pages */
// .destination-page {
// }
// .crew-page {
// }
// .technology-page {
// }

#logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  z-index: 9;
}

@import "./components/home/home";

@import "./components/destination/destination", "./components/crew/crew",
  "./components/technology/technology";

@media (min-width: 480px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

//Desktops
@media (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}
//Large desktop
@media (min-width: 2560px) {
  html {
    font-size: 22px;
  }
}
//3k+
@media (min-width: 3200px) {
  html {
    font-size: 26px;
  }
}
