@import "./config";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}
body {
  width: 100%;
  height: 100%;
  background-color: $dark-blue;
  color: $white;
}
#root,
.App {
  width: 100%;
  height: 100%;
}

/* TYPOGRAPHY */
/* Headings */
h1,
h2,
h3,
h4 {
  font-family: $ff-belle;
  font-weight: 500;
}

h1 {
  font-size: 15rem;
}
h2 {
  font-size: 10rem;
}
h3 {
  font-size: 5.6rem;
}
h4 {
  font-size: 3.2rem;
}
h5 {
  font-size: 2.8rem;
  font-family: $ff-barlow;
  letter-spacing: 4.75px;
  font-weight: 500;
}
/* Sub-headings */
.subheading-lg {
  font-family: $ff-belle;
  font-family: 2.8rem;
}
.subheading-sm {
  font-family: $ff-barlow;
  letter-spacing: 2.35px;
  font-size: 1.4rem;
}
.navigation {
  font-family: $ff-barlow;
  font-size: 1.6rem;
  letter-spacing: 2.7px;
}
p {
  font-family: $ff-belle;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 500;
}

@import "./components/navigation/navigation";

/* Pages */
// .destination-page {
// }
// .crew-page {
// }
// .technology-page {
// }
