@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  background-color: #0b0d17;
  color: #fff;
}

#root,
.App {
  width: 100%;
  height: 100%;
}

/* TYPOGRAPHY */
/* Headings */
h1,
h2,
h3,
h4 {
  font-family: "Bellefair", serif;
  font-weight: 500;
}

h1 {
  font-size: 15rem;
}

h2 {
  font-size: 10rem;
}

h3 {
  font-size: 5.6rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.8rem;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 4.75px;
  font-weight: 500;
}

/* Sub-headings */
.subheading-lg {
  font-family: "Bellefair", serif;
  font-family: 2.8rem;
}

.subheading-sm {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.35px;
  font-size: 1.4rem;
}

.navigation {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 2.7px;
}

p {
  font-family: "Bellefair", serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 500;
}

/* Navigation */
.nav-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.current-page {
  color: red;
}

/* Navbar */
.navbar {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  border: 1px solid red;
}

/* Sidemenu */
#menu-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 9;
}

.sidemenu {
  transform: translateX(100vw);
  border: 2px solid red;
  width: 40%;
  max-width: 50rem;
  transition: transform 0.3s linear;
  position: fixed;
  right: 0;
  height: 100%;
}

.sidemenu-open {
  transform: translateX(0);
}

@media (min-width: 768px) {
  #menu-btn {
    display: none;
  }
  .sidemenu {
    display: none;
  }
  .navbar {
    display: block;
  }
  .navigation ul span {
    display: none;
  }
}

@media (min-width: 1024px) {
  .navigation ul span {
    display: inline-block;
  }
}

/* Pages */
