@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@300;400&family=Bellefair&display=swap");
.destination-page section ul, .destination-page #destination-info article h5 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  color: #d0d6f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  background-color: #0b0d17;
  color: #fff;
}

#root,
.App {
  width: 100%;
  height: 100%;
}

/* TYPOGRAPHY */
/* Headings */
h1,
h2,
h3,
h4 {
  font-family: "Bellefair", serif;
  font-weight: 500;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.4rem;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
  color: #d0d6f9;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  color: #d0d6f9;
}

ul {
  list-style: none;
}

ul li {
  cursor: pointer;
}

/* Sub-headings */
.subheading-lg {
  font-family: "Bellefair", serif;
  font-family: 2.6rem;
  text-transform: uppercase;
  font-weight: 100;
}

.subheading-sm {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: uppercase;
}

.navigation {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 2.7px;
}

/* Navigation */
.nav-container {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Navbar */
.navbar {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  z-index: 7;
}

.navbar::after {
  content: "";
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(80px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6rem;
  font-size: 1rem;
  letter-spacing: 2.5px;
}

.navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
}

.navbar ul li:hover {
  border-bottom: 3px solid #999;
}

.navbar .current-page {
  border-bottom: 3px solid #fff;
}

@media (min-width: 768px) {
  #menu-btn {
    display: none;
  }
  .sidemenu {
    display: none;
  }
  .navbar {
    display: block;
  }
  .navbar ul span {
    display: none;
  }
}

@media (min-width: 1440px) {
  #logo {
    margin-top: 1rem;
  }
  .nav-container {
    position: relative;
    top: 2rem;
    height: calc(100% - 2rem);
  }
  .navbar::before {
    content: "";
    width: 50%;
    height: 1px;
    background-color: #fff;
    opacity: 0.25;
    position: absolute;
    right: 98%;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .navbar ul li {
    letter-spacing: 3px;
  }
  .navbar ul span {
    display: inline-block;
    font-weight: bold;
    padding-right: 0.8rem;
  }
}

/* Sidemenu */
#menu-btn {
  position: absolute;
  top: 3rem;
  right: 2rem;
  cursor: pointer;
  z-index: 9;
}

.sidemenu {
  background-color: rgba(170, 170, 170, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  transform: translateX(100vw);
  width: 60%;
  max-width: 25rem;
  transition: transform 0.3s linear;
  position: fixed;
  right: 0;
  height: 100%;
  z-index: 8;
}

.sidemenu ul {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidemenu ul li {
  margin: 1rem 0 1rem 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

.sidemenu ul li span {
  font-weight: bold;
  margin: 0 1rem;
}

.sidemenu-open {
  transform: translateX(0);
}

.sidemenu .current-page {
  border-right: 3px solid #fff;
}

#logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  z-index: 9;
}

#page-container {
  width: 100%;
  height: 100%;
}

.home {
  overflow: hidden;
  background: url("../../assets/home/background-home-mobile.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.home > div {
  z-index: 2;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 10%;
}

.home article {
  width: 80%;
  text-align: center;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home article h5 {
  font-weight: 100;
}

.home article p {
  line-height: 1.75;
}

.home .btn-container button {
  width: 15rem;
  height: 15rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  border-radius: 50%;
  border: none;
  padding-top: 5px;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
}

.home .btn-container button:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  left: -5rem;
  margin: auto;
  width: 25rem;
  height: 25rem;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: -1;
}

@media (min-width: 768px) {
  .home {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
  .home article {
    height: 50%;
    margin-bottom: 2rem;
  }
  .home article h1 {
    font-size: 10rem;
  }
  .home article p {
    font-size: 1rem;
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .home {
    background-image: url("../../assets/home/background-home-desktop.jpg");
  }
  .home > div {
    width: 80%;
    height: 70%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1600px;
    padding: 0;
  }
  .home > div article {
    text-align: left;
    width: 40%;
    height: 60%;
    margin: 0;
  }
  .home > div article h5 {
    font-size: 1.6rem;
    letter-spacing: 7px;
  }
  .home > div article p {
    width: 90%;
    margin: 0;
  }
  .home > div .btn-container {
    width: 30%;
    text-align: right;
  }
}

.page {
  text-align: center;
  padding: 1rem;
}

.page-description {
  line-height: 1.7;
  width: 80%;
  margin: auto;
  max-width: 60rem;
}

.crew-page img {
  width: 100%;
}

.crew-page #crew-info h5 {
  letter-spacing: 1px;
  color: #fff;
  opacity: 0.7;
}

.crew-page #crew-info h2 {
  font-size: 2rem;
  letter-spacing: 1px;
}

.technology-page img {
  width: 100%;
}

.technology-page #technology-info h5 {
  letter-spacing: 2px;
}

.destination-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80rem;
  padding-top: 2rem;
}

.destination-page header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
  width: 100%;
}

.destination-page header h5 {
  height: 10%;
  color: #fff;
}

.destination-page header h5 span {
  padding-right: 1rem;
  opacity: 0.5;
}

.destination-page header figure {
  height: 75%;
}

.destination-page header img {
  width: 18rem;
  height: 18rem;
  object-fit: contain;
}

.destination-page section {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.destination-page section ul {
  display: flex;
  margin: 0 auto;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.4rem;
  letter-spacing: 2px;
  height: 20%;
  max-width: 30rem;
}

.destination-page section h2 {
  height: 15%;
}

.destination-page section .page-description {
  height: 40%;
}

.destination-page #destination-info {
  position: relative;
  height: 45%;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.destination-page #destination-info::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 1px;
  background-color: #383b4b;
  left: 0;
  top: -0.5rem;
  right: 0;
  margin: auto;
  opacity: 0.8;
}

.destination-page #destination-info article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}

.destination-page #destination-info article h5 {
  font-size: 1.4rem;
}

.destination-page #destination-info article p {
  margin-top: 1.1rem;
  color: #fff;
  font-size: 2.4rem;
  letter-spacing: 1px;
}

/* Handle background image changes */
.destination-page {
  background: url("../../assets/destination/background-destination-mobile.jpg") no-repeat center;
  background-size: cover;
}

.crew-page {
  background: url("../../assets/crew/background-crew-mobile.jpg") no-repeat center;
  background-size: cover;
}

.technology-page {
  background: url("../../assets/technology/background-technology-mobile.jpg") no-repeat center;
  background-size: cover;
}

@media (min-width: 768px) {
  .destination-page {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
    width: 100vw;
    height: 100vh;
  }
  .crew-page {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
  }
  .technology-page {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }
  .destination-page {
    padding-top: 5rem;
    justify-content: center;
  }
  .destination-page header {
    justify-content: space-around;
    height: 40%;
  }
  .destination-page header figure {
    height: 80%;
  }
  .destination-page header figure img {
    height: 100%;
    width: 100%;
  }
  .destination-page header h5 {
    text-align: left;
    padding-left: 1rem;
  }
  .destination-page section {
    height: 55%;
    justify-content: space-evenly;
  }
  .destination-page section .page-description {
    font-size: 1rem;
    height: 20%;
    margin: 0 auto;
  }
  .destination-page #destination-info {
    height: 20%;
    flex-direction: row;
    justify-content: center;
  }
  .destination-page #destination-info::before {
    width: 85%;
    height: 2px;
  }
  .destination-page #destination-info article {
    height: 100%;
    width: 40%;
  }
  .destination-page #destination-info article h5 {
    font-size: 1rem;
  }
  .destination-page #destination-info article p {
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  .destination-page {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
  }
  .crew-page {
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
  }
  .technology-page {
    background-image: url("../../assets/technology/background-technology-desktop.jpg");
  }
  .destination-page {
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-evenly;
  }
  .destination-page header {
    justify-content: space-between;
    width: 40%;
    height: 70%;
  }
  .destination-page header h5 {
    font-size: 1.8rem;
    letter-spacing: 4px;
  }
  .destination-page header figure {
    height: 80%;
  }
  .destination-page section {
    width: 40%;
    height: 70%;
  }
  .destination-page section ul {
    justify-content: space-between;
    width: 60%;
    margin: 0;
    height: 15%;
  }
  .destination-page section h2 {
    font-size: 6rem;
  }
  .destination-page section .page-description {
    margin: 0;
  }
  .destination-page #destination-info {
    justify-content: flex-start;
  }
  .destination-page #destination-info::before {
    right: auto;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 3200px) {
  html {
    font-size: 26px;
  }
}
